<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
    <section>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                    <strong>Walletmate </strong>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/home">
                        Home
                    </a>
                    <a href="https://github.com/Thngkia/expense_tracker" class="navbar-item">
                        Github
                    </a>
                </div>
                
                <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <% if (user === null) { %>
                            <a class="button is-info" href="/register">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/login">
                                Log in
                            </a>
                        <% } else { %>
                            
                            <form action="/logout" method="POST">
                                <button class="button" type="submit">Logout</button>
                            </form>
                            
                        <% } %>
                      </div>
                    </div>
                  </div>
            </div>
        </nav>
    </section>
            
