<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test layout</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
    <section>
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/home">
                    <strong>Walletmate </strong>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="tabs is-right">
                        <ul>
                            <li ><a href="/home">Home</a></li>
                            <% if (user === null) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                            <% } else { %>
                                <li>
                                    <form action="/logout" method="POST">
                                        <button type="submit">Logout</button>
                                    </form>
                                </li>
                            <% } %>
                            <li><a href="/">Demo</a></li>
                            <li><a href="/">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>
            
