<div id="new-entry-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Expense</p>
        <button class="delete close-entry-modal" aria-label="close" id=""></button>
      </header>
      
      <form action="/users/newentry" method="POST">
        <section class="modal-card-body">
          <header class="modal-card-head">
            Enter your expense
          </header>
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Category (e.g. shopping, transport, lunch)</label>
              <div class="control">
                <input class="input" type="text" name="category" required>
              </div>
            </div>
  
            <div class="field">
              <label class="label">Is this a Need or Want?</label>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="type" value="needs" required>
                  Need
                </label>
                <label class="radio">
                  <input type="radio" name="type" value="wants">
                  Want
                </label>
              </div>
            </div>
            
            <div class="field">
              <label class="label">Amount</label>
              <div class="control has-icons-left">
                <input class="input" type="text" name="amount" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-dollar-sign"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Tags (separate with space)</label>
              <div class="control">
                <input class="input" type="text" name="tags">
              </div>
            </div>
          </section>
          
          <footer class="modal-card-foot">
            <button class="button is-success" type="submit">Submit</button>
            <button class="button close-entry-modal">Cancel</button>
          </footer>
        </section>
      </form>
      
    
    </div>
  </div>