<div class="column is-2 ">
    <aside class="menu is-hidden-mobile">
        <p class="menu-label">
            Dashboard
        </p>

        <ul class="menu-list">
            <li><a href="/dashboard">Overview</a></li>
            <li><a href="/dashboard/needs">Needs</a></li>
            <li><a href="/dashboard/wants">Wants</a></li>
            <!-- <li><a href="/dashboard/savings">Income</a></li>
            <li><a href="/dashboard/expenses">Expenses</a></li> -->
            <!-- <li><a href="/dashboard/goals">Goals</a></li> -->
        </ul>

        <a class="button is-link" id="new-entry">New Expense</a>
    </aside>
</div>