<%- include("../partials/header"); %>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Welcome to Wallet Mate!
                        </h1>
                        <h2 class="subtitle is-4">
                            Personal finance becomes easy to manage
                        </h2>
                        <br>
                        <% if (user === null) { %>
                        <p class="has-text-centered">
                            <a class="button is-medium is-info is-outlined" href="/register">
                                Sign up
                            </a>
                            <a class="button is-medium is-primary is-outlined" href="/login">
                                Login
                            </a>
                        </p>
                        <% } else { %>
                        <p class="has-text-centered">
                            <form action="/logout" method="POST">
                                <button class="button is-medium is-info is-outlined" type="submit">Logout</button>
                                <a class="button is-medium is-primary is-outlined" href="/dashboard">
                                    Dashboard
                                </a>
                            </form>
                        </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

<%- include('../partials/footer.ejs'); %>

